import os
from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch_ros.actions import Node
# load launch capabilities from launch package

# this method needds to be here to be recognized by colcon
def generate_launch_description():

    # create empty launch description
    ld = LaunchDescription()
   
    # create a reference to the simulator
    sim_node = Node(
        package='turtlesim',
        executable='turtlesim_node',
    )

    # pid controller node, get path name first
    config = os.path.join(
        get_package_share_directory('pid_turtlesim'),
        'config',
        'params.yaml'
        )

    # pid controller node
    pid_node = Node(
        package='pid_turtlesim',
        executable='turtle_pid_cntl',
	parameters=[config]
    )

    # go2goal client node execution
    client_node = Node(
        package='pid_turtlesim',
        executable='client',
	parameters=[config]
    )

    # add the above nodes to the launch description
    ld.add_action(sim_node)
    ld.add_action(pid_node)
    ld.add_action(client_node)

    # return the launch description whenever this function is called
    return ld
