from launch import LaunchDescription
from launch.actions import IncludeLaunchDescription
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import LaunchConfiguration, PathJoinSubstitution
from ament_index_python.packages import get_package_share_directory
import os


def generate_launch_description():

    gaz_package_share_dir = get_package_share_directory('turtlebot3_gazebo')
    pid_package_share_dir = get_package_share_directory('pid_turtlebot3')

    # Define the paths to your individual launch files
    launch_file_gaz_path = PathJoinSubstitution([
        gaz_package_share_dir,
        'launch',  # Assuming your launch files are in a 'launch' subdirectory
        'empty_world.launch.py'
    ])

    launch_file_pid_path = PathJoinSubstitution([
        pid_package_share_dir,
        'launch',
        'pid_g2g_turtlebot3.launch'
    ])

    # Create IncludeLaunchDescription actions for each launch file
    include_launch_file_1 = IncludeLaunchDescription(
        PythonLaunchDescriptionSource(launch_file_gaz_path)
    )

    include_launch_file_2 = IncludeLaunchDescription(
        PythonLaunchDescriptionSource(launch_file_pid_path)
    )

    # Return a LaunchDescription containing all the included launch files
    return LaunchDescription([
        include_launch_file_1,
        include_launch_file_2,
        # Add more IncludeLaunchDescription actions for other launch files if needed
    ])

